<center> <h1>Universidad Nacional de San Agustín de Arequipa</h1> </center> 
<center> <h1>Escuela Profesional de Ingeniería de Telecomunicaciones</h1> </center> 

<center> <h1> </h1> </center> 

<center><img src="https://user-images.githubusercontent.com/19308295/115939517-f1c6fe80-a463-11eb-989c-812ab4942586.png" width="380" height="4200"></center>

<center> <h1>Integrantes:</h1> </center>

<center> <h1>Boza Anampa, Diego Alexander</h1> </center> 

<center> <h1>Cáceres Ramos, Molly Tamara</h1> </center> 

<center> <h1>Camargo Calatayud, Alejandro Victor Therry</h1> </center> 

<center> <h1>Ccoa Arque, Ronaldo</h1> </center> 

<center> <h1>Huamani Quispe, Elisban</h1> </center> 

<center> <h1>Mamani Alvarez, Rudy</h1> </center>

<center> <h1>Arequipa-Perú</h1> </center> 
<center> <h1>2023</h1> </center>

In [15]:
import pandas as pd

df=pd.read_csv('archive/movies_dataset.csv')
df

,genre_ids,id,original_language,overview,popularity,release_date,title,vote_average,vote_count,genres
0,"[16, 10751, 12, 14, 35]",502356,en,"While working underground to fix a water main,...",8374.440,2023-04-05,The Super Mario Bros. Movie,7.7,3163,"Animation, Family, Adventure, Fantasy, Comedy"
1,"[28, 80, 53]",385687,en,Over many missions and against impossible odds...,6742.222,2023-05-17,Fast X,6.9,312,"Action, Crime, Thriller"
2,"[53, 27, 14]",713704,en,Three siblings find an ancient vinyl that give...,3842.290,2023-04-12,Evil Dead Rise,7.1,1233,"Thriller, Horror, Fantasy"
3,"[28, 12, 878]",640146,en,Super-Hero partners Scott Lang and Hope van Dy...,3353.957,2023-02-15,Ant-Man and the Wasp: Quantumania,6.5,2817,"Action, Adventure, Science Fiction"
4,"[28, 53]",552688,en,A deadly female assassin comes out of hiding t...,2930.887,2023-05-04,The Mother,6.7,487,"Action, Thriller"
...,...,...,...,...,...,...,...,...,...,...
11995,[18],493622,hi,A cold-blooded contract killer hires the servi...,1.438,2006-07-21,The Killer,2.8,4,Drama
11996,"[18, 10749]",75352,hi,Subeer Kumar (Amitabh) is well on his way to b...,1.437,1973-07-27,Abhimaan,7.1,16,"Drama, Romance"
11997,[35],471364,hi,Comedy movie is about a Punjabi and Gujarati f...,1.436,2017-09-15,Patel Ki Punjabi Shaadi,6.7,3,Comedy
11998,[],143734,hi,A con-man/thief robs a suitcase containing exp...,1.436,2003-09-12,Parwana,6.7,3,NaN
11999,[10749],265289,hi,Purani Jeans is a film based on the belief tha...,1.434,2014-05-02,Purani Jeans,4.8,5,Romance

In [16]:
df.head()

,genre_ids,id,original_language,overview,popularity,release_date,title,vote_average,vote_count,genres
0,"[16, 10751, 12, 14, 35]",502356,en,"While working underground to fix a water main,...",8374.440,2023-04-05,The Super Mario Bros. Movie,7.7,3163,"Animation, Family, Adventure, Fantasy, Comedy"
1,"[28, 80, 53]",385687,en,Over many missions and against impossible odds...,6742.222,2023-05-17,Fast X,6.9,312,"Action, Crime, Thriller"
2,"[53, 27, 14]",713704,en,Three siblings find an ancient vinyl that give...,3842.290,2023-04-12,Evil Dead Rise,7.1,1233,"Thriller, Horror, Fantasy"
3,"[28, 12, 878]",640146,en,Super-Hero partners Scott Lang and Hope van Dy...,3353.957,2023-02-15,Ant-Man and the Wasp: Quantumania,6.5,2817,"Action, Adventure, Science Fiction"
4,"[28, 53]",552688,en,A deadly female assassin comes out of hiding t...,2930.887,2023-05-04,The Mother,6.7,487,"Action, Thriller"

In [17]:
df.tail()

,genre_ids,id,original_language,overview,popularity,release_date,title,vote_average,vote_count,genres
11995,[18],493622,hi,A cold-blooded contract killer hires the servi...,1.438,2006-07-21,The Killer,2.8,4,Drama
11996,"[18, 10749]",75352,hi,Subeer Kumar (Amitabh) is well on his way to b...,1.437,1973-07-27,Abhimaan,7.1,16,"Drama, Romance"
11997,[35],471364,hi,Comedy movie is about a Punjabi and Gujarati f...,1.436,2017-09-15,Patel Ki Punjabi Shaadi,6.7,3,Comedy
11998,[],143734,hi,A con-man/thief robs a suitcase containing exp...,1.436,2003-09-12,Parwana,6.7,3,NaN
11999,[10749],265289,hi,Purani Jeans is a film based on the belief tha...,1.434,2014-05-02,Purani Jeans,4.8,5,Romance

In [18]:
pl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   genre_ids          12000 non-null  object
 1   id                 12000 non-null  int64
 2   original_language  12000 non-null  object
 3   overview           11971 non-null  object
 4   popularity         12000 non-null  float64
 5   release_date       11978 non-null  object
 6   title              12000 non-null  object
 7   vote_average       12000 non-null  float64
 8   vote_count         12000 non-null  int64
 9   genres             11875 non-null  object
dtypes: float64(2), int64(2), object(6)
memory usage: 937.6+ KB

In [26]:
df.sort_values('popularity')

,genre_ids,id,original_language,overview,popularity,release_date,title,vote_average,vote_count,genres
11999,[10749],265289,hi,Purani Jeans is a film based on the belief tha...,1.434,2014-05-02,Purani Jeans,4.8,5,Romance
11998,[],143734,hi,A con-man/thief robs a suitcase containing exp...,1.436,2003-09-12,Parwana,6.7,3,NaN
11997,[35],471364,hi,Comedy movie is about a Punjabi and Gujarati f...,1.436,2017-09-15,Patel Ki Punjabi Shaadi,6.7,3,Comedy
11996,"[18, 10749]",75352,hi,Subeer Kumar (Amitabh) is well on his way to b...,1.437,1973-07-27,Abhimaan,7.1,16,"Drama, Romance"
11994,[53],761510,hi,The plot of the movie revolves around a female...,1.438,2020-11-06,Pepper Chicken,0.0,0,Thriller
...,...,...,...,...,...,...,...,...,...,...
4,"[28, 53]",552688,en,A deadly female assassin comes out of hiding t...,2930.887,2023-05-04,The Mother,6.7,487,"Action, Thriller"
3,"[28, 12, 878]",640146,en,Super-Hero partners Scott Lang and Hope van Dy...,3353.957,2023-02-15,Ant-Man and the Wasp: Quantumania,6.5,2817,"Action, Adventure, Science Fiction"
2,"[53, 27, 14]",713704,en,Three siblings find an ancient vinyl that give...,3842.290,2023-04-12,Evil Dead Rise,7.1,1233,"Thriller, Horror, Fantasy"
1,"[28, 80, 53]",385687,en,Over many missions and against impossible odds...,6742.222,2023-05-17,Fast X,6.9,312,"Action, Crime, Thriller"
0,"[16, 10751, 12, 14, 35]",502356,en,"While working underground to fix a water main,...",8374.440,2023-04-05,The Super Mario Bros. Movie,7.7,3163,"Animation, Family, Adventure, Fantasy, Comedy"

In [21]:
df.sort_values('vote_average')

,genre_ids,id,original_language,overview,popularity,release_date,title,vote_average,vote_count,genres
924,"[28, 12, 14]",572802,en,"When an ancient power is unleashed, Aquaman mu...",41.034,2023-12-20,Aquaman and the Lost Kingdom,0.0,0,"Action, Adventure, Fantasy"
11165,"[10749, 53]",862508,hi,Desperate to leave her parents' house and star...,2.373,2021-08-16,Badnaam,0.0,0,"Romance, Thriller"
11720,"[18, 10749]",427386,hi,An ambitious girl achieves her goal of leading...,1.669,2016-11-11,Ishq Junoon,0.0,0,"Drama, Romance"
4409,"[35, 27, 80, 9648]",1123503,en,"Grave robbing, cannibalism, conspiracy- these ...",15.662,2023-05-24,Big Milk,0.0,0,"Comedy, Horror, Crime, Mystery"
11175,[10749],850928,hi,An M-Tech final year student Janhavi is in an ...,2.347,2020-03-06,Love Duo,0.0,0,Romance
...,...,...,...,...,...,...,...,...,...,...
11807,"[28, 18, 10749]",338644,hi,Abdullah has to fight oppression and torture a...,1.577,1980-03-07,Abdullah,10.0,2,"Action, Drama, Romance"
11597,[],241156,hi,Dr. Vijay Verma lives in a small town with his...,1.788,1987-10-23,Kudrat Ka Kanoon,10.0,2,NaN
11340,"[28, 10770]",619865,hi,Shaktimaan mentors a young boy with superpower...,2.078,2013-06-30,Hamara Hero Shaktimaan,10.0,1,"Action, TV Movie"
11691,[10749],356416,hi,"Arjun, a Hindu boy, and Khushboo, a Muslim gir...",1.695,2004-01-01,Ishq Hai Tumse,10.0,2,Romance
11437,"[80, 10749]",365585,hi,"Shyamu is an orphan, living with his mentor, a...",1.960,1973-07-01,Bandhe Haath,10.0,1,"Crime, Romance"

In [24]:
df.shape

(12000, 10)

In [23]:
df_filtrado = df[df['original_language'] == 'en']
df_filtrado

,genre_ids,id,original_language,overview,popularity,release_date,title,vote_average,vote_count,genres
0,"[16, 10751, 12, 14, 35]",502356,en,"While working underground to fix a water main,...",8374.440,2023-04-05,The Super Mario Bros. Movie,7.7,3163,"Animation, Family, Adventure, Fantasy, Comedy"
1,"[28, 80, 53]",385687,en,Over many missions and against impossible odds...,6742.222,2023-05-17,Fast X,6.9,312,"Action, Crime, Thriller"
2,"[53, 27, 14]",713704,en,Three siblings find an ancient vinyl that give...,3842.290,2023-04-12,Evil Dead Rise,7.1,1233,"Thriller, Horror, Fantasy"
3,"[28, 12, 878]",640146,en,Super-Hero partners Scott Lang and Hope van Dy...,3353.957,2023-02-15,Ant-Man and the Wasp: Quantumania,6.5,2817,"Action, Adventure, Science Fiction"
4,"[28, 53]",552688,en,A deadly female assassin comes out of hiding t...,2930.887,2023-05-04,The Mother,6.7,487,"Action, Thriller"
...,...,...,...,...,...,...,...,...,...,...
9995,[18],300687,en,International art dealer Ron Hall must befrien...,9.347,2017-10-20,Same Kind of Different as Me,7.0,225,Drama
9996,"[35, 18]",36208,en,The Tramp and his dog companion struggle to su...,9.347,1918-04-14,A Dog's Life,7.4,275,"Comedy, Drama"
9997,"[27, 18, 53]",116811,en,"In the 1970s, a British sound technician is br...",9.346,2012-08-30,Berberian Sound Studio,6.0,296,"Horror, Drama, Thriller"
9998,"[18, 53, 12]",70954,en,"Martin, a mercenary, is sent from Europe by an...",9.344,2011-10-06,The Hunter,6.6,570,"Drama, Thriller, Adventure"
9999,"[18, 53]",21635,en,Leona Stevenson is confined to bed and uses he...,9.344,1948-09-24,"Sorry, Wrong Number",6.7,142,"Drama, Thriller"

In [25]:
df.shape

(12000, 10)

### Despues de esto recien podemos tratar datos

In [36]:
#filtrando las de comedia y obteniendo las mas populares
df_comedia=df_filtrado[df_filtrado['genres'] == 'Comedy']
df_comedia.sort_values('popularity')

,genre_ids,id,original_language,overview,popularity,release_date,title,vote_average,vote_count,genres
9990,[35],13667,en,High school student Lane Meyer sinks into suic...,9.350,1985-10-11,Better Off Dead...,6.7,421,Comedy
9925,[35],5894,en,"Auggie runs a small tobacco shop in Brooklyn, ...",9.383,1995-09-15,Blue in the Face,6.7,133,Comedy
9888,[35],52736,en,Three middle-aged daddies visit California to ...,9.409,1984-05-04,Hardbodies,5.0,46,Comedy
9851,[35],1093247,en,A chaotic intervention. An action-packed stay ...,9.431,2023-04-25,John Mulaney: Baby J,6.8,36,Comedy
9828,[35],14475,en,When the owner of a struggling used car lot is...,9.443,1980-07-11,Used Cars,6.3,201,Comedy
...,...,...,...,...,...,...,...,...,...,...
393,[35],346698,en,To live in Barbie Land is to be a perfect bein...,69.128,2023-07-19,Barbie,0.0,0,Comedy
376,[35],18785,en,When three friends finally come to after a rau...,71.392,2009-06-02,The Hangover,7.3,15445,Comedy
350,[35],87584,en,A group of college nerds secretly record a was...,73.536,2012-02-02,Celebrity Sex Tape,4.5,58,Comedy
305,[35],109418,en,Lenny has relocated his family back to the sma...,81.645,2013-07-11,Grown Ups 2,6.1,3798,Comedy
276,[35],800937,en,A thirty-seven-year-old woman wakes up from a ...,86.985,2022-05-11,Senior Year,6.0,642,Comedy

In [39]:
#filtrando las de Action y obteniendo las mas populares
df_accion=df_filtrado[df_filtrado['genres'] == 'Action']
df_accion.sort_values('popularity')

,genre_ids,id,original_language,overview,popularity,release_date,title,vote_average,vote_count,genres
9923,[28],427910,en,"During a rescue mission, a team of Navy Seals ...",9.383,1990-07-20,Navy Seals,5.3,189,Action
9922,[28],724717,en,Secret-service agent Vic Davis is on his way t...,9.383,2020-12-14,The 2nd,5.6,108,Action
9913,[28],38940,en,"Nick Gunar is a burnt-out, jaded and hard-up f...",9.391,1994-09-04,Men of War,5.3,80,Action
9661,[28],46103,en,A hard core Interpol Agent is assigned to an E...,9.552,2010-10-19,Born to Raise Hell,4.7,80,Action
9434,[28],34309,en,"Sgt. James Dunn, who is wrongly accused of ass...",9.721,1997-10-10,Most Wanted,5.3,91,Action
...,...,...,...,...,...,...,...,...,...,...
532,[28],67398,en,Assassins led by Black Widow are out to kill A...,56.755,1994-10-02,The Dallas Connection,4.7,28,Action
395,[28],811592,en,"An elite squad of Navy SEALs, on a covert miss...",69.007,2021-11-05,One Shot,6.8,783,Action
154,[28],965839,en,When Jason Dyson refuses to make his prized fi...,132.117,2022-04-22,Lord of the Streets,5.2,63,Action
50,[28],842945,en,Good-hearted teenager William always lived in ...,356.638,2023-03-17,Supercell,6.2,154,Action
38,[28],1048300,en,A female FBI agent holidaying in Eastern Europ...,456.603,2022-12-15,Adrenaline,6.1,44,Action

In [43]:
df_ordenado = df.sort_values(['vote_count'])
df_ordenado

,genre_ids,id,original_language,overview,popularity,release_date,title,vote_average,vote_count,genres
2784,[27],1126748,en,"Trapped in an abandoned house, a nameless man ...",20.664,2023-05-23,Creepypasta,0.0,0,Horror
10158,[],1038487,hi,"Aazam is a Hindi feature film, set in the unde...",7.682,2023-05-19,Aazam - Rise of a New Don,0.0,0,NaN
11710,[],300748,hi,"After completing his college, dark-skinned Adi...",1.682,1968-01-17,Izzat,0.0,0,NaN
10094,[18],1121330,hi,Two strangers inadvertently bump into each oth...,9.174,2023-05-19,8 A.M. Metro,0.0,0,Drama
10074,"[18, 10751]",1114628,hi,"This story is about a small village boy Madho,...",9.714,2023-05-26,COAT,0.0,0,"Drama, Family"
...,...,...,...,...,...,...,...,...,...,...
215,"[878, 28, 12]",24428,en,When an unexpected enemy emerges and threatens...,100.691,2012-04-25,The Avengers,7.7,28600,"Science Fiction, Action, Adventure"
104,"[28, 12, 14, 878]",19995,en,"In the 22nd century, a paraplegic Marine is di...",181.829,2009-12-15,Avatar,7.6,29096,"Action, Adventure, Fantasy, Science Fiction"
378,"[18, 28, 80, 53]",155,en,Batman raises the stakes in his war on crime. ...,70.953,2008-07-14,The Dark Knight,8.5,29722,"Drama, Action, Crime, Thriller"
150,"[12, 18, 878]",157336,en,The adventures of a group of explorers who mak...,136.143,2014-11-05,Interstellar,8.4,31406,"Adventure, Drama, Science Fiction"
377,"[28, 878, 12]",27205,en,"Cobb, a skilled thief who commits corporate es...",71.203,2010-07-15,Inception,8.4,33710,"Action, Science Fiction, Adventure"